#slider-range
{
	background-color:lightblue;
	width:200;
	border-top: 2px solid black;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
	border-left: 2px solid black;
	float:left;
}

#filterArea
{
	font-family: "Verdana", Times, Sans-serif;
}

/*/////////////start of CSS associated with visualization//////////////////////////
	parallel co-ordinates visualization CSS adapted from example by Mike Bostock
	available at (https://bl.ocks.org/mbostock/1341021)*/
svg 
{
	font: 15px sans-serif;
}

.background path 
{
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
}

.foreground path 
{
	fill: none;
	stroke: red; 
	stroke-width="10";
}
	
.foreground2 path 
{
	fill: none;
	stroke: lightblue;
	/*  shape-rendering: auto;*/
}

.brush .extent 
{
	fill-opacity: .3;
	stroke: #fff;
	shape-rendering: crispEdges;
}

.axis line,
.axis path 
{
	fill: none;
	stroke: #000;
	shape-rendering: auto;	 
}

.axis text 
{
	text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}
/* ///////////end of CSS associated with visualization/////////////////////////////////*/

#homePageContent
{
	 font-family: "Verdana", Times, Sans-serif;
	 padding-left:30px;
}

.mainHeader /*Header and navigation area*/
{	   
	background-color: #0C5; 
	border:solid 2px #009900;
	 text-align: center;
	 font-family: "Verdana", Times, Sans-serif;
	 font-size: 20px;
	 background: red; /* For browsers that do not support gradients */
     background: -webkit-linear-gradient(red,lightblue); /* For Safari 5.1 to 6.0 */
     background: -o-linear-gradient(red,lightblue); /* For Opera 11.1 to 12.0 */
     background: -moz-linear-gradient(red,lightblue); /* For Firefox 3.6 to 15 */
     background: linear-gradient(red,lightblue); /* Standard syntax */ 
}

.mainContent /* main content area*/
{
	background-color: lightgrey; 
	 text-align: center;
	 font-family: "Verdana", Times, Sans-serif;
}

.mainHeader a /*links inside main header area*/
{
    color:white; 
	font-size: 15px;
	text-decoration:none;
	font-family: "Verdana", Times, Sans-serif;
}

.mainHeader a:hover /*hover action on links inside main header area*/
{
	color:black;	
}

#slider-range/*css associated with div housing the dual slider*/
{
	width: 30%;
	margin-left:90px;
}

#sliderLabelId /* label for dual slider*/
{
	margin-left:90px;
}

#selectionArea /*css associated with div housing the race selection options*/
{
	font-family: "Verdana", Times, Sans-serif;
	font-size: 15px;
	margin-left:90px;
	margin-top:20px;
    margin-bottom:20px;
}

#raceTitleArea  /*css for results page title*/
{
	 font-family: "Verdana", Times, Sans-serif;
	text-align:center;	
}

.tableClass 
{
	font-family: "Verdana", Times, Sans-serif;
	 font-size: 13px;
}

#historyTitleArea /*css for history page title*/
{
	 font-family: "Verdana", Times, Sans-serif;
	text-align:center;	
}

#resultTable /*css for results table*/
{
	font-family: "Verdana", Times, Sans-serif;
	font-size: 12px;
}

.seriesStandingsTitleClass  /*css for series standings page title*/
{
	 font-family: "Verdana", Times, Sans-serif;
	text-align:center;	
}

.historyBtnClass
{
	font: 11px Arial;
	font-family: "Verdana", Times, Sans-serif;
	text-decoration: none;
	background-color: #EEEEEE;
	color: #333333;
	padding: 2px 6px 2px 6px;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	border-left: 1px solid #CCCCCC;
}

button /*css for all buttons*/
{
	height:25px;
	width:130px;
	font-size: 15px;
}

table /*css for all tables*/
{
	border-spacing:5px;
	border:none;
	text-align:left;	
	font-family: "Verdana", Times, Sans-serif;
	margin: 0 auto;
}
th /*css for all table headers*/
{
	background-color:#5DC4D0;
	color:white;
}

input /*css for all inputs*/
{
	 font-family: "Verdana", Times, Sans-serif;
	 font-size: 15px;
}

select /*css for all combo boxes*/
{
	 font-family: "Verdana", Times, Sans-serif;
	 font-size: 15px;
}